@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100vw;
  overflow-x: hidden;
}

.screen-max-width {
  margin-inline-start: auto;
  margin-inline-end: auto;
  position: relative;
  max-width: 1120px;
}

@layer components {
  hr {
    @apply h-1 w-8 bg-darkblue lg:w-10;
  }
}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }

  .common-padding {
    @apply px-5 py-14 sm:px-10 sm:py-28;
  }

  .fromY {
    @apply translate-y-20 opacity-0;
  }

  .fromX {
    @apply translate-x-20 opacity-0;
  }

  .btn {
    @apply flex w-fit items-center rounded-full border-2 border-darkblue px-6 py-2 text-base duration-500 hover:bg-darkblue hover:text-white;
  }
  .heading-div {
    @apply flex items-center justify-center gap-5;
  }

  .heading {
    @apply text-xl font-bold lg:text-3xl;
  }

  .icon {
    @apply size-12 text-darkblue;
  }

  .contacts {
    @apply border border-gray-400 p-2 focus:outline-none focus:ring-1 focus:ring-darkblue;
  }
}
